.weather {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.headerMenu {
    background-color: #008cba;
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    width: 100%;
}
.darkTheme {
    margin-left: 5px;
    width: 60px;
    height: 30px;
    box-shadow: 0 0 3px #1670be;
    outline-offset: 0px;
    outline: none;
    border-radius: 40px;
    background-color: rgb(217, 217, 217);
    transition-duration: 0.4s;
}
.searchCity {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.inputCityName {
    box-shadow: 0 0 3px #1670be;
    outline-offset: 0px;
    outline: none;
    border-radius: 10px;
    border-width: 0px;
}
.searchButton {
    margin-left: 5px;
    padding: 1px 10px;
    align-self: column;
    color: black;
    border: 2px solid #008cba;
    border-radius: 5px;
    background-color: white;

    transition-duration: 0.3s;
}
.searchButton:hover {
    background-color: #008cba;
    color: white;
}
.weatherList {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.temp {
}
.temperature {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.humidityWind {
    display: flex;

    align-items: center;
    flex-direction: row;
}
.humidity {
}
.windSpeed {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.tab {
    margin-left: 10px;
}
