/* . {
  height: 100vh;
  background-color: rgb(25, 216, 152);
  width: 100px;
  height: 100px;
} */

.weather {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerMenu {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 0;
  margin-top: 5px;
  width: 100%;
}
.searchCity {
  display: flex;
  flex-direction: row;
}
.inputCityName {
  border-radius: 10px;
}
.searchButton {
  margin-left: 5px;
  padding: 1px 10px;
  align-self: column;
  color: black;
  border: 2px solid #008cba;
  border-radius: 5px;
  background-color: white;

  transition-duration: 0.3s;
}
.searchButton:hover {
  background-color: #008cba;
  color: white;
}
